body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}
.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
    background-color: #00a087;
}
.content {
    margin-top: 20px;
}
.fixed-nav-bar li,
.fixed-nav-bar a {
    height: 50px;
    line-height: 50px;
}
.menu {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}
.menu a,
.menu a:visited {
    color: #ffffff;
}
.menu a:hover,
.menu a:target {
    color: #ebebeb;
}
.menu-items {
    display: inline-block;
}
.sitename {
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
}
a.sitename,
a:visited.sitename {
    color: #e0e0e0;
}
.menu-items li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}
.menu-items a {
    text-decoration: none;
}
.container {
    margin-top: 90px;
}
@media only screen and (max-width: 480px) {
    .sitename {
        visibility: hidden;
    }
    ul li a {
        font-size: 14px;
    }
}